asgiref==3.11.1
certifi==2026.5.20
comtypes==1.4.16
distlib==0.4.1
Django==6.0.5
et_xmlfile==2.0.0
filelock==3.29.1
gunicorn==26.0.0
npm==0.1.1
numpy==2.4.4
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
openpyxl==3.1.5
optional-django==0.1.0
packaging==26.2
pandas==3.0.3
pillow==12.2.0
pipenv==2026.6.1
platformdirs==4.10.0
pypiwin32==223
python-dateutil==2.9.0.post0
python-discovery==1.4.0
pyttsx3==2.99
pywin32==311
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
virtualenv==21.4.2
